:root {
  font-family: 'Space Grotesk', system-ui, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  overflow: hidden;
}

button,
select,
input {
  font: inherit;
}
